$font-stack: Helvetica, sans-serif;

// Primary background
$background_dark: #06041E;
$primary_white: #FFF;

// Button
$button_blue: #13AEA2;
$button_upload_red: #BE3030;
$addsongbuttonhover: #C6556B;
$addsongbuttonactive: #ECA4A3;

$input_focus: #13aea190;
$input_second_focus: #13aea14d;
$pink_blush: #D7838B;
$nav_img_hover: #dbcdc423;
$nav_img_bg: #dbcdc4;
$nav_line: #572845;
$nav_newyork_pink: #e58e8f95;


// unused
$nav_lightBlueColor: #2FCEB8;
