@import './variables';
@import './darkmode//darkmode';
@import './darkmode/lightMode';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    
    transition: background-color 0.45s linear, color 0.35s linear;

}