@import '../css/variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.home_wrapper {
    background-color: $background_dark;
    width: 100vw;
    height: 91vh;
    color: $primary_white;

    font-family: 'Lato';
    padding-top: 20px;

}
