@import '../variables';
@import '../darkmode/darkmodeButton';


#light {
    font-family: 'lato', sans-serif;


    ////            Homepage        ///
// Homepage.js
    .home_wrapper {
        background-color: var(--color-page-background);
        width: 100%;
        height: 100%;
        color: var(--color-text);

        font-family: 'Lato';
        padding-top: 20px;
        display: flex;
        justify-content: center;

        .homepage_container {
            width: 60vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (min-width: 851px) and (max-width: 1200px) {
                width: 90vw;
            }

            .logOutButton {
                margin-top: 20px;
                width: 80px;
                height: 34px;
                margin-bottom: 2.5rem;
                cursor: pointer;
                background-color: $button_blue;
                border-radius: 1rem;
                border: 0;
                transition: background-color .18s ease;
                

                &:hover, &:active, &:focus {
                    background-color: $nav_newyork_pink;
                }
            }

            .homeTitleSongs {
                font-size: 3rem;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
            }
            .card {
                width: 100%;
                margin: 4.5rem auto 5rem;
                display: flex;
                justify-content: space-between;
                border-radius: 1rem;    
                background-color: var(--card-bg);
                
                border: 1px solid var(--color-page-background);
                box-shadow: 1px 2px 20px  var(--card-box-border);
                transform: scale(1);

                transition: transform .2s  ease, box-shadow .4s ease-in-out; 

                &:hover {
                    transition: transform .2s  ease, box-shadow .4s ease-in-out; 
                    
                    transform: scale(1.01);
                    box-shadow: 1px 2px 60px var(--card-box-border-hover);
                }

                .card_content {
                    display: flex;
                    position: relative;
                    width: 100%;
                    

                    .song_info {
                        position: absolute;
                        margin-left: 165px;
                        margin-top: 5px;
                        display: flex;
                        flex-direction: column;
                        z-index: 10;
                        h2, h4 {
                            padding: 2px 20px;
                            color: var(--color-text);
                            border-radius: 1rem;
                            position: relative;


                        }

                        h2 {
                            font-size: 1.2rem;
                        }

                        h4 {
                            font-size: 1rem;
                            font-weight: 400;
                        }

                
                    

                    
                    }

                    .audio_wrapper {
                        // background-color: rgb(92, 91, 91);
                        min-width: 200px;
                        width: 100%;
                        height: 160px;
                        position: relative;
                        

                        .audio {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            flex-direction: column-reverse;
                            position: relative;
                            justify-content: center;
                            canvas {
                                width: 100%;


                            }

                            

                            
                        }

                        .audioKnobs {
                            display: flex;
                            position: absolute;
                            bottom: -39px;
                            transition: all .4s ease;


                            .VolumeSlider {

                                z-index: 50;
                                margin-right: 15px;
                                position: relative;
                                z-index: 100;
                                &::after {
                                    content: "";
                                    top: 29px;
                                    right: 0;
                                    bottom: 29px;
                                    border-radius: 1rem;
                                    left: 0;
                                    position: absolute;
                                    background-color: var(--color-text);
                                    z-index: -10;
                                }



                            }



                            


                            
                            .playpausewrapper {
                                margin: 5px 8px;
                                top: -20px;
                                background-color: transparent;
                                border: 0;
                                z-index: 30;
                                cursor: pointer;
                                

                                .activeButton {
                                    color: $red;
                                }

                                .notActiveButton {
                                    color: var(--color-text);
                                }


                                .playButton {
                                    font-size: 3rem;
                                    margin: 8px;

                                }

                                

                                

                                

                                &::after {
                                    content: "";
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    position: absolute;
                                    background-color: var(--color-page-background);
                                    z-index: -1;
                                    border-radius: 2rem;

                                }
                            }

                            

                            


                        }
                    }

                    
                    .card_image {
                        width: 160px;
                        height: 160px;
                        margin-right: 10px;
                        border-radius: 1rem;
                    }
                    
                }

                .adminControl {
                    visibility: hidden;
                }
                .card_content_extra{
                    display: flex;
                    flex-direction: column;
                    
                    .updateButton {
                        font-size: 1.6rem;
                        cursor: pointer;
                        margin: 15px;

                        &:hover {
                            color: $button_blue;

                        }
                    }

                    .deleteButton {
                        font-size: 1.6rem;
                        cursor: pointer;
                        margin: 15px;

                        &:hover {
                            color: rgb(255, 93, 93);
                        }
                    }
                }




                
            }
        }

    }

    // homepage.js ==== @media screen.....
    @media screen and (max-width: 850px) {
        .home_wrapper {
            .homepage_container {
                width: 100%;
                padding: 0 1rem;


                .card {


                    .card_content {
                        .audio_wrapper {
                            .audio {
                                display: flex;
                                flex-direction: column-reverse;
                                
                                
                            }
                        }
                    }
                }
            }
        }
    }

    ////           Homepage exit        ///

/// 
///  =========== FORM LOGIN AND REGISTER

    .form_container {
        width: 100%;
        height: calc(100vh - 80px);
        background-color: var(--color-page-background);
        color: var(--color-text);


        display: flex;
        justify-content: center;
        
        .form_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            border: 0.5px solid var(--card-box-border);
            box-shadow: 1px 2px 10px var(--card-box-border);

            // csss box her...

            .form-heading {
                margin: 1.5rem 0 2rem;

                h3 {
                    font-size: 2rem;
                }

            }
            
            .formBox {
                width: 90%;
                form {
                    display: flex;
                    flex-direction: column;
                    .input_text {
                        height: 2.5rem;
                        margin-bottom: 2rem;
                        font-size: 1.2rem;
                        padding-left: 10px;
                
                        outline: none;
                        border-radius: 0.5rem;
                        border: 1px solid $button_blue;
                        color: var(--color-text);
                        background-color: $input_second_focus;
                
                        &:focus, &:visited, &:active{
                            background-color: $input_focus;
                            color: var(--color-text);
                            &::placeholder {
                                opacity: 1;
                                color: var(--color-text);
                
                            }        
                        }

                    }
                
                
                    
                }
            }

            .authButtons {
                        align-self: center;
                        width: 100%;
                        height: 45px;
                        border-radius: 0.5rem;
                        background-color: $button_blue;
                        border: 0;
                        color: var(--color-text);
                        font-size: 1.2rem;
                        font-family: 'Lato', sans-serif;
                        font-weight: 700;
                        cursor: pointer;
                        transition: background-color .2s ease;
                        &:nth-last-child(1) {
                            margin-top: 25px;
                        }
        

        
                        &:hover {
                            background-color: $addsongbuttonhover;
                        }
                        &:active {
                            background-color: $addsongbuttonactive;
                        }
            }

        }

        @media screen and (max-width: 749px) {
            .form_wrapper {
                width: 80%;

                box-shadow: none;
                border: none;


                .formBox {
                    width: 100%;

                    form {
                        .input_text {
                            font-size: 1.5rem;
                        }
                    }
                }

            }
        }

        @media screen and (min-width: 750px) {
            .form_wrapper {
                width: 50%;
                box-shadow: none;
                border: none;

                .formBox {
                    width: 70%;

                    form {
                        .input_text {
                            font-size: 1.5rem;
                        }
                    }
                }

                .authButtons {
                    width: 70%;
                }


            }
        }


        
    }





    //      Add Edit Delete songs page...   ////
    .add_edit_container {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        background-color: var(--color-page-background);
        padding-top: 20px;

        .add_Edit_Song_container {
            width: 40%;
            height: 100%;
            align-items: flex-end;

            .add_edit_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 3rem;
                box-shadow: 
                -10px -10px 30px 4px rgba(0,0,0,0.15), 
                10px 10px 30px 4px rgba(112, 112, 112, 0.25);
                border-radius: 2rem;

                .isSubmit_loader {
                    margin-top: 60px;
                    position: inherit;


                    &::after {
                        content: "Uploading File...";
                        top: 350px;
                        
                        right: 0%;
                        left: 44%;
                        bottom: 0;
                        display: flex;
                        justify-self: center;
                        width: 200px;
                        color: var(--color-text);
                        position: absolute;
                        font-weight: 100;
                        font-size: 1.3rem;

                        animation: loading 1s linear infinite;


                        
                    }
                    @keyframes loading {
                        0% {
                            content: "Uploading File"
                        }

                        33% {
                            content: "Uploading File."
                        }
                        66% {
                            content: "Uploading File.."
                        }
                        100% {
                            content: "Uploading File..."
                        }
                    }
                }

                h2 {
                    font-family: 'Lato', sans-serif;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                    color: var(--color-text);
                    position: relative;
                    font-size: 2rem;
                    &::after {
                        content: "";
                        margin-top: 32px;
                        border-bottom: 1px solid var(--color-text);
                        position: absolute;
                        bottom: 0;
                        right: -50px;
                        top: 0px;
                        left: -50px;

                    }

                }
                .form_wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    

                    .input_text {
                        height: 2.5rem;
                        margin-bottom: 2rem;
                        font-size: 1.2rem;
                        padding-left: 10px;

                        outline: none;
                        border-radius: 0.5rem;
                        border: 1px solid $button_blue;
                        color: var(--color-text);
                        background-color: $input_second_focus;

                        &:focus{
                            background-color: $input_focus;
                            color: var(--color-text);
                            &::placeholder {
                                opacity: 1;
                                color: var(--color-text);

                            }        
                        }
                    

                    }

                    .wrap_upload_submit {

                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .input_files_btns {
                            display: flex;
                            justify-content: space-between;

                            .upload_file_label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: var(--color-text);
                                margin-bottom: 2rem;
                                width: 45%;
                                height: 45px;
                                font-size: 1.2rem;
                                font-weight: 700;
                                cursor: pointer;
                                border-radius: 0.5rem;
                                background-color: $button_upload_red;
                                z-index: 100;
        
                                &:hover {
                                    background-color: $addsongbuttonhover;
                                }
                                &:active {
                                    background-color: $addsongbuttonactive;
                                }
                                
                            }
            
                            .input_file {
                                display: none;
                            }

                        }

        
                        .add_edit_submit_btn {
                            align-self: center;
                            width: 100%;
                            height: 45px;
                            border-radius: 0.5rem;
                            background-color: $button_blue;
                            border: 0;
                            color: var(--color-text);
                            font-size: 1.2rem;
                            font-family: 'Lato', sans-serif;
                            font-weight: 700;
                            cursor: pointer;
                            transition: all .25s ease;
            
                            // Transition?? FX
                            @keyframes buttonTransform {
                                
                            }
            
                            &:hover {
                                background-color: $addsongbuttonhover;
                            }
                            &:active {
                                background-color: $addsongbuttonactive;
                            }
                        }

                    }

                    

                }
            }
        }
    }


    @media screen and (max-width: 820px) {
        .add_edit_container {
            .add_Edit_Song_container {
                width: 90%;
            }
        }
    }

//      Add Edit Delete EXIT  ////





    /// ===== navbar ====== //
    .navBarMenu {
        height: 80px;
        padding: 0.3rem;


        background-color: var();
        color: var(--color-text);
        position: relative;



        // Nice line under header
        &::after {
            content: "";
            position: absolute;
            top: 78;
            right: 0;
            bottom: 0;
            left: 0;
            border-bottom: 2px solid $nav_newyork_pink;

        }


        .navBarContainer {
            width: 100%;
            height: 100%;
            margin: 0 auto;


            display: flex;
            justify-content: space-around;
            align-items: center;

            .navBarItemWrap {
                display: flex;
                align-items: center;

                justify-content: space-around;

                #logo {
                    border: 1px solid var(--color-page-background);
                    border-radius: 2rem;

                    margin: 0 30px;
                    transition: all 10s ease-in-out;

                    &:hover {
                        background-color: $nav_img_hover;
                        transform: rotate(360deg);
                    }
                }
            }

            .navBarItem {
                margin-right: 1rem;


                .newSongButton{
                    width: 100px;
                    height: 40px;
                    border-radius: 0.5rem;
                    background-color: $button_blue;
                    border: 0;
                    color: var(--color-text);
                    font-size: 1rem;
                    font-family: 'Lato', sans-serif;
                    cursor: pointer;
                    transition: all .25s ease;

                    // Transition?? FX
                    @keyframes buttonTransform {
                        
                    }

                    &:hover {
                        background-color: $addsongbuttonhover;
                    }
                    &:active {
                        background-color: $addsongbuttonactive;
                    }
                }

                @media screen and (max-width: 750px) {
                    h2 {
                        font-size: 1.4rem;
                        font-weight: 800;
                    }
                }
            }

            label {
                cursor: pointer;
            }

            // logo
            

        }

    }


    @media screen and (min-width: 1000px) {
        .navBarMenu {
            .navBarContainer {
                width: 70vw;
            }
        }

    }


// ====== navbar exit =======///













// PHONE USERS:::

@media screen and (max-width: 640px) and (min-width: 350px) {

    #light {
        width: 100%;
        box-sizing: border-box;
    }

    .navBarMenu {
        .navBarContainer {
            .buttonToggleDarkmode {

            

                .label {
                    left: 5px;
                    top: 60px;


                
                }
            }

            .navBarItemWrap {
                .navBarItem {
                    text-align: center;
                }
            }
        }
    }


    .home_wrapper {
        width: 100%;
        .homepage_container {
            width: 98vw;
            position: relative;


            
            .card {
                margin-top: 4.5rem;

                .adminControl {
                    display: hidden;
                    position: absolute;
                }

                
                .card_content {
                    .card_image {
                        max-width: 120px;
                        width: 120px;
                        height: 120px;
                    }

                    .song_info {
                    margin: 0;
                    z-index: 50;
                    top: -55px;

                    }

                    .audio_wrapper {
                        max-height: 120px;
                        position: relative;

                        .audioKnobs {
                            padding: 0;
                            z-index: 10;
                            position: absolute;

                            .playpausewrapper {
                                z-index: 20;

                                .playButton {
                                    font-size: 3.5rem;
                                    margin: 0;
                                }
                            }

                            .onPhoneRemoveVolumeSlider {
                                display: none;
                            }
                            
                        }
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 349px) {

    #light {
        width: 100%;
        box-sizing: border-box;
    }




    .home_wrapper {
        width: 100%;
        .homepage_container {
            width: 100%;
            .card {

                .adminControl {
                    display: hidden;
                    position: absolute;
                }

                
                .card_content {
                    .card_image {
                        max-width: 120px;
                        width: 100px;
                        height: 100px;
                    }

                    .song_info {
                    margin: 0;
                    z-index: 50;
                    top: -55px;

                    }

                    .audio_wrapper {
                        max-height: 120px;
                        position: relative;

                        .audioKnobs {
                            padding: 0;
                            z-index: 10;
                            position: absolute;

                            .playpausewrapper {
                                z-index: 20;

                                .playButton {
                                    font-size: 2rem;
                                    margin: 0;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }

}
}

