@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
:root {
  --color-page-background: #fff;
  --color-text: #06041E;
  --card-bg: #ffffffde;
  --card-box-border: rgb(81, 81, 81);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home_wrapper {
  background-color: #06041E;
  width: 100%;
  height: 100%;
  color: #d5d5d5;
  font-family: 'Lato';
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_wrapper .homepage_container {
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_wrapper .homepage_container .homeTitleSongs {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.home_wrapper .homepage_container .card {
  width: 100%;
  margin: 2rem auto 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  border: 0.5px solid #ffffff;
  -webkit-box-shadow: 0px 0px 17px #13AEA2;
          box-shadow: 0px 0px 17px #13AEA2;
  -webkit-transition: .1s all ease-in;
  transition: .1s all ease-in;
}

.home_wrapper .homepage_container .card .card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.home_wrapper .homepage_container .card .card_content .song_info {
  position: absolute;
  margin-left: 165px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

.home_wrapper .homepage_container .card .card_content .song_info h2, .home_wrapper .homepage_container .card .card_content .song_info h4 {
  padding: 2px 20px;
  color: #ffffff;
  border-radius: 1rem;
  position: relative;
}

.home_wrapper .homepage_container .card .card_content .song_info h2 {
  font-size: 1.2rem;
}

.home_wrapper .homepage_container .card .card_content .song_info h4 {
  font-size: 1rem;
  font-weight: 400;
}

.home_wrapper .homepage_container .card .card_content .song_info::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(46, 46, 46, 0.606);
  border-radius: 0.6rem;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper {
  min-width: 200px;
  width: 100%;
  height: 160px;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audio canvas {
  width: 100%;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audioKnobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audioKnobs .playpausewrapper {
  margin: 15px 10px;
  position: absolute;
  top: -20px;
  background-color: transparent;
  border: 0;
  z-index: 30;
  cursor: pointer;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audioKnobs .playpausewrapper .activeButton {
  color: #ff0000;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audioKnobs .playpausewrapper .notActiveButton {
  color: #d5d5d5;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audioKnobs .playpausewrapper .playButton {
  font-size: 2.5rem;
  margin: 8px;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audioKnobs .playpausewrapper::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #06041E;
  z-index: -1;
  border-radius: 2rem;
}

.home_wrapper .homepage_container .card .card_content .audio_wrapper .audioKnobs input {
  margin-left: 140px;
  margin-bottom: 8px;
  z-index: 30;
}

.home_wrapper .homepage_container .card .card_content .card_image {
  width: 160px;
  height: 160px;
  margin-right: 10px;
  border-radius: 1rem;
}

.home_wrapper .homepage_container .card .card_content_extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_wrapper .homepage_container .card .card_content_extra .updateButton {
  font-size: 1.6rem;
  cursor: pointer;
  margin: 15px;
}

.home_wrapper .homepage_container .card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 15px #ffffff;
          box-shadow: 0px 0px 15px #ffffff;
}

@media screen and (max-width: 850px) {
  .home_wrapper .homepage_container {
    width: 100%;
    padding: 0 1rem;
  }
  .home_wrapper .homepage_container .card .card_content .audio_wrapper .audio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=home.css.map */